<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
<% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="picture_title">
    <%= form.text_field :content %>
    <%= form.label :image %>
  <%= form.file_field :image %>
  </div>
  
  <%= form.submit %>
<% end %>
