<!DOCTYPE html>
<html>
  <head>
    <title>Imagebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="clearfix">
      <div class="header">
        <h1>ImageBOOK</h1>
      </div>

    <div class="log-link">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <% if logged_in? %>
        <%= button_to "Profile", user_path(current_user.id), :style => "color:#FAFAFA;" %>
        <%= button_to "Logout", session_path(current_user.id), method: :delete,:style => "color:#FAFAFA;" %>
      <% else %>
        <%= button_to "Sign up", new_user_path, :style => "color:#FAFAFA;" %>
        <%= button_to "Login", new_session_path, :style => "color:#FAFAFA;" %>
      <% end %>
    </div>
    </header>

      <%= yield %>
    <footer>
      <p>imageBOOK ©︎2019</p>
    </footer>
  </body>
</html>
